# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth
POSTGRES_URL="postgres://default:U1ye8GmBChkv@ep-lucky-king-60166323-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_PRISMA_URL="postgres://default:U1ye8GmBChkv@ep-lucky-king-60166323-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://default:U1ye8GmBChkv@ep-lucky-king-60166323.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_USER="default"
POSTGRES_HOST="ep-lucky-king-60166323-pooler.us-east-1.postgres.vercel-storage.com"
POSTGRES_PASSWORD="U1ye8GmBChkv"
POSTGRES_DATABASE="verceldb"